name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"

            - name: Install dependencies
              run: npm install

            - name: Generate Prisma client
              run: npx prisma generate
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}

            - name: Prisma Database Push
              run: npx prisma db push
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}

            - name: Build
              run: npm run build
